:root {
  --grey: #7b7980;
  --grey1: rgb(44, 44, 44);
  --grey2: #d4d4d4;
  --red: #b92025;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  background: radial-gradient(rgb(61, 61, 61), rgb(44, 44, 44));
}

.header .row {
  margin-top: 90px;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

ul {
  list-style: none;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  color: #555;
}

.home {
  margin-bottom: 250px;
  margin-top: 150px;
}

.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.colom {
  flex-basis: 50%;
  min-width: 100px;
}

.colom img {
  max-width: 100%;
  padding: 50px 0;
}

.colom h1 {
  font-size: 25px;
  margin: 15px 0;
  text-align: right;
}

.colom p {
  font-size: 12px;
  text-align: right;
  color: #ffff;
}

.title {
  text-align: center;
  margin: 0 auto 100px;
  position: relative;
  line-height: 60px;
  color: #fff;
}

.title::after {
  content: "";
  background: #666666;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.kategori .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-kat {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.col-kat img {
  width: 100%;
  transition: transform 0.5s;
}

.col-kat img:hover {
  transform: translateY(-5px);
}

.produk .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-prod {
  flex-basis: 20%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.prod {
  border: 2px solid #fff;
  border-radius: 30px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.col-prod img {
  width: 100%;
}

.prod:hover {
  transform: translateY(-5px);
}

.btn {
  display: inline-block;
  background: #ffffff;
  color: #000000;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #5f5f5f;
}

.kategori {
  margin: 70px 0;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.product-detail {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.product-detail .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

/* --- Product Details --- */
.card-wrapper {
  max-width: 1100px;
  margin: 50px auto;
  margin-bottom: 100px;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

.card-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper img {
  width: 100%;
  display: block;
}

.card-wrapper .img-display {
  overflow: hidden;
}

.img-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  transition: all 0.5s ease;
}

.img-showcase img {
  min-width: 100%;
}

.img-select {
  display: flex;
}

.img-item {
  margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}

.img-item:hover {
  opacity: 0.8;
}

.product-content {
  padding-top: 0;
  padding: 2rem 1rem;
}

.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #ffffff;
  margin: 1rem 0;
}

.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #ffffff;
}

.product-galery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-link:hover {
  opacity: 0.9;
}

.product-rating {
  color: #ffc107;
}

.product-rating span {
  font-weight: 600;
  color: #ffffff;
}

.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}

.product-price p {
  color: #fff;
}

.product-price span {
  font-weight: 400;
}

.new-price span {
  color: #ffffff;
}

.product-detail h2 {
  text-transform: capitalize;
  color: #ffffff;
  padding-bottom: 0.6rem;
}

.product-detail p {
  color: #fff;
  font-size: 0.9rem;
  padding: 0.3rem;
  opacity: 0.8;
}

.product-detail ul {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.product-detail ul li {
  color: #fff;
  margin: 0;
  list-style: none;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
}

.product-detail ul li span {
  font-weight: 400;
}

.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info input,
.purchase-info .btn {
  border: 1.5px solid #ddd;
  border-radius: 25px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}

.purchase-info input {
  width: 60px;
}

.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}

.purchase-info .btn {
  background: none;
}

.purchase-info .btn:hover {
  background: #575757;
  opacity: 0.9;
}

.social-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social-links p {
  color: #fff;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #fff;
  border: 1px solid #fff;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}

.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}

/* --- Footer --- */
.footer {
  background-color: var(--grey1);
  padding: 70px 0;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/* ------------------------------- */
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

::-webkit-scrollbar {
  background: #222222;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #a0a0a0;
  border-radius: 20px;
}

/* --------------Media Query for Menu----------------- */
@media only screen and (max-width: 720px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  .colom h1 {
    font-size: 12px;
    margin: 10px 0;
    text-align: right;
  }

  .colom p {
    font-size: 10px;
    margin: 5px 0;
    text-align: right;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .home {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .colom {
    flex-basis: 100%;
    min-width: 100px;
  }

  .colom h1 {
    font-size: 25px;
    margin: auto 5px;
    text-align: center;
  }

  .colom p {
    font-size: 12px;
    text-align: center;
    color: #ffff;
  }
  .title {
    text-align: center;
    margin: 0 auto 30px;
    position: relative;
    line-height: 60px;
    color: #fff;
  }
}

@media screen and (min-width: 992px) {
}
