:root {
  --grey: #7b7980;
  --grey2: #2f3240;
  --dorion: #00b37d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #e8eef3;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

/*header*/
.header {
  background-color: var(--grey2);
  padding: 12px 0;
  line-height: 1.5;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}
.header .logo a {
  font-size: 30px;
  color: #ffffff;
  text-transform: capitalize;
}
.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}
.header .nav ul li a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  padding: 10px 0;
  transition: all 0.5s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover {
  color: #f3a93d;
}
.nav-toggler {
  height: 34px;
  width: 44px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: none;
  margin-right: 15px;
}
.nav-toggler:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
.nav-toggler span {
  height: 2px;
  width: 20px;
  background-color: var(--grey2);
  display: block;
  margin: auto;
  position: relative;
  transition: all 0.3s ease;
}
.nav-toggler.active span {
  background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--grey2);
  transition: all 0.3s ease;
}
.nav-toggler span::before {
  transform: translateY(-6px);
}
.nav-toggler.active span::before {
  transform: rotate(45deg);
}
.nav-toggler span::after {
  transform: translateY(6px);
}
.nav-toggler.active span::after {
  transform: rotate(135deg);
}
@media (max-width: 720px) {
  .nav-toggler {
    display: block;
  }
  .header .nav {
    width: 100%;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .header .nav.open {
    visibility: visible;
  }
  .header .nav ul {
    padding: 12px 15px 0;
    margin-top: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .header .nav ul li {
    display: block;
    margin: 0;
  }
}

.lead {
  font-size: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

.sideBar {
  width: 4%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--ocean);
  border-right: 1px solid #7b7980;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sideBar .logo {
  cursor: pointer;
  margin-top: 25px;
}

.sideBar .logo img {
  width: 50px;
}

.sideBar .pagination {
  width: 50%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sideBar .pagination span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sideBar .pagination span::after {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
}

.sideBar .pagination span:hover,
.sideBar .pagination span.active {
  border: 1px solid #000;
}

.sideBar .pagination span:hover::after,
.sideBar .pagination span.active::after {
  background: var(--grey);
}

.sideBar .scroll {
  width: 25px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
}

.scroll::after {
  content: "";
  position: relative;
  top: 20%;
  height: 5px;
  width: 5px;
  transform: translate(0, -40%);
  border: 2px solid black;
  border-radius: 100%;
  animation: scroll 1s ease-in-out infinite;
}

.scroll::after {
  top: 20%;
  animation-delay: 0.3s;
}

@keyframes scroll {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 75%;
    opacity: 0;
  }
}
